.otp-input-group {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.otp-box {
  width: 45px;
  height: 45px;
  font-size: 1.25rem;
  text-align: center;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  outline: none;
  transition: 0.2s ease;
}

.otp-box:focus {
  border-color: #14b8a6;
  box-shadow: 0 0 0 3px rgba(20, 184, 166, 0.4);
}


.timer-text {
  margin-top: 1rem;
  font-size: 0.875rem;
  text-align: center;
  color: #6b7280; /* Tailwind gray-500 */
}
