

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #14b8a6, #8b5cf6); /* teal-500 to violet-600 */
  padding: 1rem;
}

.login-box {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.test-banner {
  background-color: #ef4444; /* red-500 */
  color: white;
  padding: 1rem;
  text-align: center;
}

.login-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  
  background: linear-gradient(to bottom right, #14b8a6, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* For Firefox */
  background-clip: text;
  color: transparent;
  
  margin-bottom: 1.5rem;
}



.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-group label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151; /* gray-700 */
}

.form-group input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 0.5rem;
  outline: none;
}

.form-group input:focus {
  border-color: #14b8a6;
  box-shadow: 0 0 0 3px rgba(20, 184, 166, 0.4); /* teal-400 ring */
}

.submit-button {
  width: 100%;
  padding: 0.5rem;
  background: linear-gradient(to right, #2dd4bf, #8b5cf6); /* teal-400 to violet-500 */
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(139, 92, 246, 0.3);
  cursor: pointer;
  transition: background 0.3s ease;
  border: none;
}

.submit-button:hover {
  background: linear-gradient(to right, #14b8a6, #7c3aed); /* darker hover */
}

.links {
  text-align: center;
  margin-top: 1.5rem;
}

.links a {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  color: #0f766e;
  text-decoration: none;
}

.links a:nth-child(2) {
  color: #6d28d9;
}

.links a:hover {
  text-decoration: underline;
}


.logo-wrapper {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.logo-image {
  max-width: 150px; /* or whatever size you prefer */
  height: auto;
  display: inline-block;
}




.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon .input-icon {
  position: absolute;
  left: 12px;
  width: 15px;
  height: 15px;
  pointer-events: none;
  opacity: 0.6;
}

.input-with-icon input {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-left: 30px; /* space for icon */
  margin-top: 0.20rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.875rem;
}

.input-with-icon input:focus {
  border-color: #14b8a6;
  box-shadow: 0 0 0 3px rgba(20, 184, 166, 0.4);
}


.error-text {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
